Repository ctasada/stonks-overwatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, django-check, tests

poetry-check:
  name: Poetry Check
  entry: poetry check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

django-check:
  name: Django Check
  entry: poetry run python src/manage.py check
  language: system
  pass_filenames: false

tests:
  name: Run tests
  entry: poetry run pytest --maxfail=1 -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: Add Trading Journal
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/stonks_overwatch/config/metatrader4.py
  src/stonks_overwatch/core/factories/broker_registry.py
  src/stonks_overwatch/core/interfaces/trading_journal_service.py
  src/stonks_overwatch/core/registry_setup.py
  src/stonks_overwatch/core/service_types.py
  src/stonks_overwatch/services/aggregators/trading_journal_aggregator.py
  src/stonks_overwatch/services/brokers/metatrader4/client/metatrader4_client.py
  src/stonks_overwatch/services/brokers/metatrader4/services/authentication_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/trading_journal_service.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/staticfiles/style.css
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/templates/trading_journal.html
  src/stonks_overwatch/templates/trading_journal/calendar.html
  src/stonks_overwatch/urls.py
  src/stonks_overwatch/views/trading_journal.py
Due: poetry-check, django-check, tests

feat: Add Trading Journal Summary
  src/stonks_overwatch/core/interfaces/trading_journal_service.py
  src/stonks_overwatch/services/aggregators/trading_journal_aggregator.py
  src/stonks_overwatch/services/brokers/metatrader4/services/account_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/trading_journal_service.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/templates/components/summary_card.html
  src/stonks_overwatch/templates/trading_journal.html
  src/stonks_overwatch/views/trading_journal.py
Due: django-check, tests

feat: Add MetaTrader4 integration
  src/stonks_overwatch/config/metatrader4.py
  src/stonks_overwatch/core/registry_setup.py
  src/stonks_overwatch/migrations/0011_metatrader4.py
  src/stonks_overwatch/services/brokers/metatrader4/services/authentication_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/update_service.py
  src/stonks_overwatch/services/utilities/credential_validator.py
  src/stonks_overwatch/views/login.py
  src/stonks_overwatch/views/settings.py
Due: django-check, tests

chore: Updated dependencies
  README.md
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
Due: poetry-check

chore: Updated dependencies (#391)
  README.md
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
Due: poetry-check

fix: Fixed markdown linting errors
  README.md
  docs/ARCHITECTURE.md
  docs/ARCHITECTURE_AUTHENTICATION.md
  docs/ARCHITECTURE_BROKERS.md
  docs/Application.md
  docs/Bitvavo.md
  docs/Configuration-Integration.md
  docs/DEGIRO.md
  docs/Developing-Stonks-Overwatch.md
  docs/FAQ.md
  docs/Home.md
  docs/IBKR.md
  docs/OPERATIONS_AUTHENTICATION.md
  docs/PENDING_TASKS.md
  docs/PLUGIN_ARCHITECTURE.md
  docs/Quickstart.md
  docs/User-Interface.md
  lychee.toml
Due: poetry-check

fix: Bitvavo Balance
  CHANGELOG.md
  scripts/bitvavo/bitvavo.py
  src/stonks_overwatch/services/brokers/bitvavo/client/bitvavo_client.py
  src/stonks_overwatch/services/brokers/bitvavo/repositories/balance_repository.py
  src/stonks_overwatch/services/brokers/bitvavo/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/update_service.py
  tests/stonks_overwatch/services/brokers/bitvavo/test_portfolio.py
Due: django-check, tests

fix: Bitvavo Balance (#395)
  CHANGELOG.md
  scripts/bitvavo/bitvavo.py
  src/stonks_overwatch/services/brokers/bitvavo/client/bitvavo_client.py
  src/stonks_overwatch/services/brokers/bitvavo/repositories/balance_repository.py
  src/stonks_overwatch/services/brokers/bitvavo/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/update_service.py
  tests/stonks_overwatch/services/brokers/bitvavo/test_portfolio.py
Due: django-check, tests

fix: Updated Toga and Briefcase
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
  src/stonks_overwatch/app/main.py
  src/stonks_overwatch/services/brokers/yfinance/client/yfinance_client.py
Due: poetry-check, django-check, tests

fix: Updated Toga and Briefcase (#396)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
  src/stonks_overwatch/app/main.py
  src/stonks_overwatch/services/brokers/yfinance/client/yfinance_client.py
Due: poetry-check, django-check, tests

fix: Makefile improvements
  Makefile
Due: none

fix: Makefile improvements (#420)
  Makefile
Due: none

chore: Updated dependencies and 3rd party licenses
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  src/package-lock.json
Due: none

chore: Updated dependencies and 3rd party licenses (#421)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  src/package-lock.json
Due: none

feat: Add MetaTrader4 integration
  config/config.json.template
  scripts/init_db.py
  scripts/mt4/mt4.py
  src/icons/brokers/metatrader4.png
  src/stonks_overwatch/config/metatrader4.py
  src/stonks_overwatch/constants/brokers.py
  src/stonks_overwatch/core/factories/broker_factory.py
  src/stonks_overwatch/core/registry_setup.py
  src/stonks_overwatch/jobs/jobs_scheduler.py
  src/stonks_overwatch/migrations/0010_metatrader4.py
  src/stonks_overwatch/models.py
  src/stonks_overwatch/services/brokers/degiro/services/deposit_service.py
  src/stonks_overwatch/services/brokers/metatrader4/client/metatrader4_client.py
  src/stonks_overwatch/services/brokers/metatrader4/repositories/__init__.py
  src/stonks_overwatch/services/brokers/metatrader4/repositories/metatrader4_repository.py
  src/stonks_overwatch/services/brokers/metatrader4/repositories/models.py
  src/stonks_overwatch/services/brokers/metatrader4/services/account_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/authentication_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/deposit_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/fee_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/transaction_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/update_service.py
  src/stonks_overwatch/services/brokers/metatrader4/utilities/parser.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/staticfiles/logos/metatrader4.svg
  src/stonks_overwatch/staticfiles/style.css
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/templates/components/brokers/metatrader4_settings.html
  src/stonks_overwatch/templates/components/settings_content.html
  src/stonks_overwatch/templates/login/metatrader4_login.html
  src/stonks_overwatch/views/broker_login.py
  src/stonks_overwatch/views/dashboard.py
  src/stonks_overwatch/views/login.py
  src/stonks_overwatch/views/settings.py
  tests/stonks_overwatch/config/test_metatrader4_credentials.py
  tests/stonks_overwatch/services/brokers/metatrader4/utilities/test_parser.py
  tests/stonks_overwatch/services/test_models.py
Due: django-check, tests

doc: Add MetaTrader4 documentation
  README.md
  docs/Bitvavo.md
  docs/DEGIRO.md
  docs/IBKR.md
  docs/MetaTrader4.md
  docs/_Sidebar.md
  docs/images/brokers/metatrader4.png
  docs/images/brokers/metatrader4_small.png
  docs/images/screenshots/broker-selector.png
  docs/images/screenshots/login-metatrader4.png
  docs/images/screenshots/settings-metatrader4.png
  scripts/generate_docs_broker_icons.sh
Due: none

fix: Fixed bug in Alpaca
  CHANGELOG.md
  docs/Alpaca.md
  src/stonks_overwatch/services/aggregators/portfolio_aggregator.py
  src/stonks_overwatch/services/brokers/yfinance/services/market_data_service.py
  tests/stonks_overwatch/services/aggregators/test_portfolio_aggregator.py
  tests/stonks_overwatch/services/brokers/yfinance/test_yfinance.py
Due: django-check, tests

fix: Fixed bug in Alpaca (#426)
  CHANGELOG.md
  docs/Alpaca.md
  src/stonks_overwatch/services/aggregators/portfolio_aggregator.py
  src/stonks_overwatch/services/brokers/yfinance/services/market_data_service.py
  tests/stonks_overwatch/services/aggregators/test_portfolio_aggregator.py
  tests/stonks_overwatch/services/brokers/yfinance/test_yfinance.py
Due: django-check, tests

fix: Harden Briefcase build tooling in the Makefile
  Makefile
Due: none

fix: Handle None stock splits data in yfinance client
  src/stonks_overwatch/services/brokers/yfinance/client/yfinance_client.py
  tests/stonks_overwatch/services/brokers/yfinance/test_yfinance.py
Due: django-check, tests

fix: Harden Briefcase build tooling in the Makefile (#497)
  Makefile
Due: none

fix: Handle None stock splits data in yfinance client (#498)
  src/stonks_overwatch/services/brokers/yfinance/client/yfinance_client.py
  tests/stonks_overwatch/services/brokers/yfinance/test_yfinance.py
Due: django-check, tests

fix: Fixed Markdown linting errors
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/ARCHITECTURE_BROKERS.md
  docs/Configuration-Integration.md
  docs/PLUGIN_ARCHITECTURE.md
Due: none

Path conditions:
  poetry-check: any of: \.(toml)$
  django-check: any of: \.(py)$
  tests: any of: \.(py)$
