Repository ctasada/stonks-overwatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, django-check, tests

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: local
    hooks:
      - id: poetry-check
        name: Poetry Check
        entry: poetry check
        language: system
        pass_filenames: false
        files: \.(toml)$
        stages: [pre-commit]  # Only run on commit, not push

  - repo: local
    hooks:
      - id: pymarkdown
        name: Pymarkdown Check
        entry: make markdown-check
        language: system
        stages: [pre-commit]

  - repo: https://github.com/lycheeverse/lychee
    rev: nightly
    hooks:
      - id: lychee
        name: Check Markdown Links
        types: [markdown]
        args:
          - --config=lychee.toml
          - --no-progress
        stages: [pre-commit]

  # Optional: Check Django migrations
  - repo: local
    hooks:
      - id: django-check
        name: Django Check
        entry: poetry run python src/manage.py check
        language: system
        pass_filenames: false
        files: \.(py)$

  # Optional: Run tests on commit
  - repo: local
    hooks:
      - id: tests
        name: Run tests
        entry: poetry run pytest --maxfail=1 -q
        language: system
        pass_filenames: false
        files: \.(py)$
        stages: [pre-commit]  # Only run on commit, not push

fix: Fixes lychee version and adds CICD support
  .github/workflows/cicd.yml
  .github/workflows/precommit-autoupdate.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.example
  Makefile
  docs/Developing-Stonks-Overwatch.md
Due: none

fix: lychee execution in the GitHub Action has errors
  .github/workflows/cicd.yml
Due: none

fix: Fixes lychee version and adds CICD support (#295)
  .github/workflows/cicd.yml
  .github/workflows/precommit-autoupdate.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.example
  Makefile
  docs/Developing-Stonks-Overwatch.md
Due: none

feat: Introduce capability-driven architecture by removing placeholder broker services and simplifying registration.
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/ARCHITECTURE_BROKERS.md
  src/stonks_overwatch/config/config.py
  src/stonks_overwatch/core/aggregators/base_aggregator.py
  src/stonks_overwatch/core/registry_setup.py
  src/stonks_overwatch/services/brokers/bitvavo/services/dividends_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/deposit_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/fee_service.py
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/views/account_overview.py
  src/stonks_overwatch/views/configuration.py
  src/stonks_overwatch/views/deposits.py
  src/stonks_overwatch/views/dividends.py
  src/stonks_overwatch/views/fees.py
  src/stonks_overwatch/views/mixins.py
  src/stonks_overwatch/views/transactions.py
  tests/conftest.py
Due: django-check, tests

feat: Introduce capability-driven architecture by removing placeholder broker services and simplifying registration. (#296)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/ARCHITECTURE_BROKERS.md
  src/stonks_overwatch/config/config.py
  src/stonks_overwatch/core/aggregators/base_aggregator.py
  src/stonks_overwatch/core/registry_setup.py
  src/stonks_overwatch/services/brokers/bitvavo/services/dividends_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/deposit_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/fee_service.py
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/views/account_overview.py
  src/stonks_overwatch/views/configuration.py
  src/stonks_overwatch/views/deposits.py
  src/stonks_overwatch/views/dividends.py
  src/stonks_overwatch/views/fees.py
  src/stonks_overwatch/views/mixins.py
  src/stonks_overwatch/views/transactions.py
  tests/conftest.py
Due: django-check, tests

feat: Implement database-backed global configuration for application settings like base currency and appearance.
  config/config.json.template
  src/stonks_overwatch/config/config.py
  src/stonks_overwatch/core/models.py
  src/stonks_overwatch/migrations/0009_globalconfiguration.py
  src/stonks_overwatch/models.py
  tests/stonks_overwatch/core/test_global_config.py
Due: django-check, tests

feat: Implement database-backed global configuration for application settings like base currency and appearance. (#297)
  config/config.json.template
  src/stonks_overwatch/config/config.py
  src/stonks_overwatch/core/models.py
  src/stonks_overwatch/migrations/0009_globalconfiguration.py
  src/stonks_overwatch/models.py
  tests/stonks_overwatch/core/test_global_config.py
Due: django-check, tests

chore: Update Dependencies
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
Due: poetry-check

chore: Update Dependencies (#298)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
Due: poetry-check

Reverts to use pandas 2.x to avoid a deprecation warning in YFinance
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/stonks_overwatch/services/brokers/yfinance/client/yfinance_client.py
  src/stonks_overwatch/services/brokers/yfinance/services/market_data_service.py
  src/stonks_overwatch/views/asset_logos.py
  tests/stonks_overwatch/services/brokers/yfinance/test_yfinance.py
  tests/stonks_overwatch/views/test_asset_logos.py
Due: poetry-check, django-check, tests

Reverts to use pandas 2.x to avoid a deprecation warning in YFinance (#299)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/stonks_overwatch/services/brokers/yfinance/client/yfinance_client.py
  src/stonks_overwatch/services/brokers/yfinance/services/market_data_service.py
  src/stonks_overwatch/views/asset_logos.py
  tests/stonks_overwatch/services/brokers/yfinance/test_yfinance.py
  tests/stonks_overwatch/views/test_asset_logos.py
Due: poetry-check, django-check, tests

chore: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: autoupdate pre-commit hooks (#301)
  .pre-commit-config.yaml
Due: none

feat: Improved demo mode
  .gitignore
  CHANGELOG.md
  poetry.lock
  scripts/generate_demo_db.py
  src/stonks_overwatch/app/main.py
  src/stonks_overwatch/context_processors.py
  src/stonks_overwatch/fixtures/demo_db.sqlite3
  src/stonks_overwatch/services/brokers/degiro/services/deposit_service.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/utilities/github_release_service.py
  src/stonks_overwatch/settings.py
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/templates/components/settings_content.html
  tests/stonks_overwatch/services/brokers/degiro/test_deposits_service.py
Due: django-check, tests

feat: Improved demo mode (#302)
  .gitignore
  CHANGELOG.md
  poetry.lock
  scripts/generate_demo_db.py
  src/stonks_overwatch/app/main.py
  src/stonks_overwatch/context_processors.py
  src/stonks_overwatch/fixtures/demo_db.sqlite3
  src/stonks_overwatch/services/brokers/degiro/services/deposit_service.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/utilities/github_release_service.py
  src/stonks_overwatch/settings.py
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/templates/components/settings_content.html
  tests/stonks_overwatch/services/brokers/degiro/test_deposits_service.py
Due: django-check, tests

chore: Update Dependencies
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  scripts/init_db.py
Due: poetry-check, django-check, tests

Updating transitive dependencies
  poetry.lock
Due: none

chore: Update Dependencies (#303)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  scripts/init_db.py
Due: poetry-check, django-check, tests

Fix DEGIRO 2FA redirect
  src/stonks_overwatch/views/login.py
Due: django-check, tests

Fix typos
  src/stonks_overwatch/core/aggregators/base_aggregator.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
Due: django-check, tests

Improved login
  src/stonks_overwatch/config/base_credentials.py
  src/stonks_overwatch/config/bitvavo.py
  src/stonks_overwatch/config/degiro.py
  src/stonks_overwatch/config/ibkr.py
  src/stonks_overwatch/middleware/authentication.py
  src/stonks_overwatch/views/login.py
  tests/stonks_overwatch/core/factories/test_broker_factory.py
  tests/stonks_overwatch/core/factories/test_broker_registry.py
  tests/stonks_overwatch/core/interfaces/test_base_service.py
  tests/stonks_overwatch/middleware/test_authentication.py
Due: django-check, tests

chore: Update Dependencies
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: Login refactoring (#304)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/stonks_overwatch/config/base_credentials.py
  src/stonks_overwatch/config/bitvavo.py
  src/stonks_overwatch/config/degiro.py
  src/stonks_overwatch/config/ibkr.py
  src/stonks_overwatch/core/aggregators/base_aggregator.py
  src/stonks_overwatch/middleware/authentication.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/views/login.py
  tests/stonks_overwatch/core/factories/test_broker_factory.py
  tests/stonks_overwatch/core/factories/test_broker_registry.py
  tests/stonks_overwatch/core/interfaces/test_base_service.py
  tests/stonks_overwatch/middleware/test_authentication.py
Due: poetry-check, django-check, tests

chore: Prepare 0.3.0 Release
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

chore: Prepare 0.3.0 Release (#305)
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

chore: Init 0.3.1 development
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

chore: Init 0.3.1 development (#306)
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

fix: Fix TypeError from mixing Decimal and float types
  src/stonks_overwatch/core/aggregators/data_merger.py
Due: django-check, tests

chore: Dependency updates
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: Dependency updates (#307)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: Fix TypeError from mixing Decimal and float types (#308)
  src/stonks_overwatch/core/aggregators/data_merger.py
Due: django-check, tests

fix: Ensure timezone-aware datetime usage throughout codebase
  pyproject.toml
  src/stonks_overwatch/jobs/jobs_scheduler.py
  src/stonks_overwatch/middleware/error_handler.py
  src/stonks_overwatch/services/aggregators/deposits_aggregator.py
  src/stonks_overwatch/services/brokers/bitvavo/client/bitvavo_client.py
  src/stonks_overwatch/services/brokers/bitvavo/services/account_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/deposit_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/transaction_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/update_service.py
  src/stonks_overwatch/services/brokers/degiro/client/degiro_client.py
  src/stonks_overwatch/services/brokers/degiro/services/dividend_service.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/utils/core/datetime.py
  src/stonks_overwatch/utils/core/localization.py
  src/stonks_overwatch/views/dashboard.py
  src/stonks_overwatch/views/dividends.py
Due: poetry-check, django-check, tests

fix: Ensure timezone-aware datetime usage throughout codebase (#311)
  pyproject.toml
  src/stonks_overwatch/jobs/jobs_scheduler.py
  src/stonks_overwatch/middleware/error_handler.py
  src/stonks_overwatch/services/aggregators/deposits_aggregator.py
  src/stonks_overwatch/services/brokers/bitvavo/client/bitvavo_client.py
  src/stonks_overwatch/services/brokers/bitvavo/services/account_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/deposit_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/transaction_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/update_service.py
  src/stonks_overwatch/services/brokers/degiro/client/degiro_client.py
  src/stonks_overwatch/services/brokers/degiro/services/dividend_service.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/utils/core/datetime.py
  src/stonks_overwatch/utils/core/localization.py
  src/stonks_overwatch/views/dashboard.py
  src/stonks_overwatch/views/dividends.py
Due: poetry-check, django-check, tests

chore: autoupdate pre-commit hooks (#312)
  .pre-commit-config.yaml
Due: none

chore: Dependency updates (#313)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
Due: poetry-check
