Repository ctasada/stonks-overwatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, django-check, tests

poetry-check:
  name: Poetry Check
  entry: poetry check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

django-check:
  name: Django Check
  entry: poetry run python src/manage.py check
  language: system
  pass_filenames: false

tests:
  name: Run tests
  entry: poetry run pytest --maxfail=1 -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: handle missing quotations for delisted DEGIRO products in currency conversion
  src/stonks_overwatch/services/brokers/degiro/services/currency_service.py
Due: django-check, tests

fix: Fixed crash when loading portfolio history, fees, or transactions for products with incomplete data
  CHANGELOG.md
  src/stonks_overwatch/services/brokers/degiro/repositories/product_info_repository.py
  src/stonks_overwatch/services/brokers/degiro/services/account_service.py
  src/stonks_overwatch/services/brokers/degiro/services/fee_service.py
  src/stonks_overwatch/services/brokers/degiro/services/helper.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/degiro/services/transaction_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  tests/stonks_overwatch/services/brokers/degiro/repositories/test_product_info_repository.py
  tests/stonks_overwatch/services/brokers/degiro/test_helper.py
Due: django-check, tests

fix: replace hardcoded currency list with dynamic DB discovery
  src/stonks_overwatch/config/config.py
  src/stonks_overwatch/core/interfaces/base_service.py
  src/stonks_overwatch/services/brokers/degiro/repositories/cash_movements_repository.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/utils/currency.py
  tests/stonks_overwatch/config/test_config.py
Due: django-check, tests

fix: handle missing product info and hardcoded currency lists
  src/stonks_overwatch/config/config.py
  src/stonks_overwatch/core/interfaces/base_service.py
  src/stonks_overwatch/services/brokers/degiro/services/currency_service.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/utils/currency.py
  tests/stonks_overwatch/config/test_config.py
  tests/stonks_overwatch/services/brokers/test_brokers_configuration_model.py
  tests/stonks_overwatch/utils/test_currency.py
Due: django-check, tests

chore: Centralise DeGiro transaction description patterns
  CHANGELOG.md
  src/stonks_overwatch/services/brokers/degiro/descriptions.py
  src/stonks_overwatch/services/brokers/degiro/repositories/cash_movements_repository.py
  src/stonks_overwatch/services/brokers/degiro/services/dividend_service.py
  src/stonks_overwatch/services/brokers/degiro/services/fee_service.py
Due: django-check, tests

chore: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: Move pre-commit updates to Dependabot
  .github/dependabot.yml
  .github/workflows/precommit-autoupdate.yml
Due: none

chore: Move pre-commit updates to Dependabot (#340)
  .github/dependabot.yml
  .github/workflows/precommit-autoupdate.yml
Due: none

chore: Improve usage of AI agents
  AGENTS.md
  CLAUDE.md
Due: none

fix: handle missing symbol field for WARRANT/LEVERAGED products in DeGiro import
  src/stonks_overwatch/services/brokers/degiro/client/constants.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  tests/stonks_overwatch/services/brokers/degiro/repositories/test_product_info_repository.py
  tests/stonks_overwatch/services/brokers/degiro/test_helper.py
  tests/stonks_overwatch/services/brokers/degiro/test_portfolio_service.py
Due: django-check, tests

fix: handle missing symbol field for WARRANT/LEVERAGED products in DeGiro import
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
Due: django-check, tests

fix: Move noisy log to `debug`
  src/stonks_overwatch/services/brokers/degiro/services/currency_service.py
Due: django-check, tests

feat: add start_date override for init_db script and scheduler
  Makefile
  docs/Bitvavo.md
  docs/DEGIRO.md
  docs/Developing-Stonks-Overwatch.md
  docs/IBKR.md
  scripts/init_db.py
  src/stonks_overwatch/jobs/jobs_scheduler.py
  src/stonks_overwatch/settings.py
Due: django-check, tests

fix: Fixed crash when loading portfolio history, fees, or transactions for products with incomplete data (#331)
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  Makefile
  docs/Bitvavo.md
  docs/DEGIRO.md
  docs/Developing-Stonks-Overwatch.md
  docs/IBKR.md
  scripts/init_db.py
  src/stonks_overwatch/config/config.py
  src/stonks_overwatch/core/interfaces/base_service.py
  src/stonks_overwatch/jobs/jobs_scheduler.py
  src/stonks_overwatch/services/brokers/degiro/client/constants.py
  src/stonks_overwatch/services/brokers/degiro/descriptions.py
  src/stonks_overwatch/services/brokers/degiro/repositories/cash_movements_repository.py
  src/stonks_overwatch/services/brokers/degiro/repositories/product_info_repository.py
  src/stonks_overwatch/services/brokers/degiro/services/account_service.py
  src/stonks_overwatch/services/brokers/degiro/services/currency_service.py
  src/stonks_overwatch/services/brokers/degiro/services/dividend_service.py
  src/stonks_overwatch/services/brokers/degiro/services/fee_service.py
  src/stonks_overwatch/services/brokers/degiro/services/helper.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/degiro/services/transaction_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/settings.py
  src/stonks_overwatch/utils/currency.py
  tests/stonks_overwatch/services/brokers/degiro/repositories/test_product_info_repository.py
  tests/stonks_overwatch/services/brokers/degiro/test_helper.py
  tests/stonks_overwatch/services/brokers/degiro/test_portfolio_service.py
  tests/stonks_overwatch/services/brokers/test_brokers_configuration_model.py
  tests/stonks_overwatch/utils/test_currency.py
Due: django-check, tests

fix: Fixed bug closing the application
  CHANGELOG.md
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
  src/stonks_overwatch/app/main.py
  tests/stonks_overwatch/app/test_main.py
Due: poetry-check, django-check, tests

fix: Fixed bug closing the application (#349)
  CHANGELOG.md
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
  src/stonks_overwatch/app/main.py
  tests/stonks_overwatch/app/test_main.py
Due: poetry-check, django-check, tests

chore: Updated dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: remove false-positive security warning
  src/stonks_overwatch/services/brokers/degiro/repositories/product_info_repository.py
  src/stonks_overwatch/services/brokers/degiro/repositories/transactions_repository.py
  src/stonks_overwatch/services/brokers/ibkr/repositories/positions_repository.py
  src/stonks_overwatch/services/brokers/ibkr/repositories/transactions_repository.py
Due: django-check, tests

chore: remove false-positive security warning (#350)
  poetry.lock
  pyproject.toml
  src/stonks_overwatch/services/brokers/degiro/repositories/product_info_repository.py
  src/stonks_overwatch/services/brokers/degiro/repositories/transactions_repository.py
  src/stonks_overwatch/services/brokers/ibkr/repositories/positions_repository.py
  src/stonks_overwatch/services/brokers/ibkr/repositories/transactions_repository.py
Due: poetry-check, django-check, tests

chore: Prepare 0.3.1 Release
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

chore: Prepare 0.3.1 Release (#352)
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

chore: Init 0.4.0 development
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

chore: Init 0.4.0 development (#353)
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

ci: fix GitHub Actions configuration issues
  .github/actions/common-action/action.yml
  .github/dependabot.yml
  .github/workflows/package.yml
Due: none

ci: fix GitHub Actions configuration issues (#354)
  .github/actions/common-action/action.yml
  .github/dependabot.yml
  .github/workflows/package.yml
Due: none

fix: harden yfinance caching and empty symbol handling
  src/stonks_overwatch/services/brokers/degiro/services/account_service.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  src/stonks_overwatch/services/brokers/yfinance/repositories/yfinance_repository.py
  src/stonks_overwatch/services/brokers/yfinance/services/market_data_service.py
Due: django-check, tests

chore: Updated dependencies
  CHANGELOG.md
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
Due: poetry-check

chore: Updated dependencies (#368)
  CHANGELOG.md
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
Due: poetry-check

feat: Add support for logodev logos
  CHANGELOG.md
  config/config.json.template
  docs/Configuration-Integration.md
  lychee.toml
  src/icons/integrations/logodev.svg
  src/stonks_overwatch/config/config.py
  src/stonks_overwatch/integrations/logos/base.py
  src/stonks_overwatch/integrations/logos/logodev.py
  src/stonks_overwatch/integrations/logos/types.py
  src/stonks_overwatch/services/brokers/encryption_utils.py
  src/stonks_overwatch/staticfiles/style.css
  src/stonks_overwatch/templates/components/distribution_with_list.html
  src/stonks_overwatch/templates/components/general_settings.html
  src/stonks_overwatch/templates/components/integrations/logodev_settings.html
  src/stonks_overwatch/templates/portfolio/table.html
  src/stonks_overwatch/views/asset_logos.py
  src/stonks_overwatch/views/diversification.py
  src/stonks_overwatch/views/settings.py
  tests/stonks_overwatch/views/test_diversification.py
Due: poetry-check, django-check, tests

refactor: new logo integrations registry
  src/stonks_overwatch/integrations/logos/base.py
  src/stonks_overwatch/integrations/logos/ibkr.py
  src/stonks_overwatch/integrations/logos/logodev.py
  src/stonks_overwatch/integrations/logos/registry.py
  src/stonks_overwatch/views/asset_logos.py
  tests/stonks_overwatch/integrations/logos/test_ibkr.py
  tests/stonks_overwatch/integrations/logos/test_logo_integrations.py
  tests/stonks_overwatch/views/test_asset_logos.py
Due: django-check, tests

feat: Add support for logostream logos
  CHANGELOG.md
  README.md
  config/config.json.template
  docs/Configuration-Integration.md
  src/icons/integrations/logostream.svg
  src/stonks_overwatch/integrations/logos/ibkr.py
  src/stonks_overwatch/integrations/logos/logodev.py
  src/stonks_overwatch/integrations/logos/logostream.py
  src/stonks_overwatch/integrations/logos/registry.py
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/templates/components/distribution_with_list.html
  src/stonks_overwatch/templates/components/general_settings.html
  src/stonks_overwatch/templates/components/integrations/logo_provider_settings.html
  src/stonks_overwatch/templates/components/integrations/logodev_settings.html
  src/stonks_overwatch/templates/portfolio/table.html
  src/stonks_overwatch/views/asset_logos.py
  src/stonks_overwatch/views/settings.py
  tests/stonks_overwatch/integrations/logos/test_ibkr.py
  tests/stonks_overwatch/integrations/logos/test_logo_integrations.py
  tests/stonks_overwatch/views/test_settings.py
Due: django-check, tests

fet: logodev and Logostream integration (#369)
  CHANGELOG.md
  README.md
  config/config.json.template
  docs/Configuration-Integration.md
  lychee.toml
  src/icons/integrations/logodev.svg
  src/icons/integrations/logostream.svg
  src/stonks_overwatch/config/config.py
  src/stonks_overwatch/integrations/logos/base.py
  src/stonks_overwatch/integrations/logos/ibkr.py
  src/stonks_overwatch/integrations/logos/logodev.py
  src/stonks_overwatch/integrations/logos/logostream.py
  src/stonks_overwatch/integrations/logos/registry.py
  src/stonks_overwatch/integrations/logos/types.py
  src/stonks_overwatch/services/brokers/encryption_utils.py
  src/stonks_overwatch/staticfiles/style.css
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/templates/components/distribution_with_list.html
  src/stonks_overwatch/templates/components/general_settings.html
  src/stonks_overwatch/templates/components/integrations/logo_provider_settings.html
  src/stonks_overwatch/templates/portfolio/table.html
  src/stonks_overwatch/views/asset_logos.py
  src/stonks_overwatch/views/diversification.py
  src/stonks_overwatch/views/settings.py
  tests/stonks_overwatch/integrations/logos/test_ibkr.py
  tests/stonks_overwatch/integrations/logos/test_logo_integrations.py
  tests/stonks_overwatch/views/test_asset_logos.py
  tests/stonks_overwatch/views/test_diversification.py
  tests/stonks_overwatch/views/test_settings.py
Due: poetry-check, django-check, tests

fix(issue-358): prevent crash on missing symbol and enable yfinance caching (#362)
  src/stonks_overwatch/services/brokers/degiro/services/account_service.py
  src/stonks_overwatch/services/brokers/degiro/services/dividend_service.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/degiro/services/transaction_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  src/stonks_overwatch/services/brokers/yfinance/repositories/yfinance_repository.py
  src/stonks_overwatch/services/brokers/yfinance/services/market_data_service.py
Due: django-check, tests

feat: Add MetaTrader4 integration
  config/config.json.template
  scripts/init_db.py
  scripts/mt4/mt4.py
  src/icons/brokers/metatrader4.png
  src/stonks_overwatch/config/metatrader4.py
  src/stonks_overwatch/constants/brokers.py
  src/stonks_overwatch/core/factories/broker_factory.py
  src/stonks_overwatch/core/registry_setup.py
  src/stonks_overwatch/jobs/jobs_scheduler.py
  src/stonks_overwatch/migrations/0010_metatrader4.py
  src/stonks_overwatch/models.py
  src/stonks_overwatch/services/brokers/degiro/services/deposit_service.py
  src/stonks_overwatch/services/brokers/metatrader4/client/metatrader4_client.py
  src/stonks_overwatch/services/brokers/metatrader4/repositories/__init__.py
  src/stonks_overwatch/services/brokers/metatrader4/repositories/metatrader4_repository.py
  src/stonks_overwatch/services/brokers/metatrader4/repositories/models.py
  src/stonks_overwatch/services/brokers/metatrader4/services/account_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/authentication_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/deposit_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/fee_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/transaction_service.py
  src/stonks_overwatch/services/brokers/metatrader4/services/update_service.py
  src/stonks_overwatch/services/brokers/metatrader4/utilities/parser.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/staticfiles/logos/metatrader4.svg
  src/stonks_overwatch/staticfiles/style.css
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/templates/components/brokers/metatrader4_settings.html
  src/stonks_overwatch/templates/components/settings_content.html
  src/stonks_overwatch/templates/login/metatrader4_login.html
  src/stonks_overwatch/views/broker_login.py
  src/stonks_overwatch/views/dashboard.py
  src/stonks_overwatch/views/login.py
  src/stonks_overwatch/views/settings.py
  tests/stonks_overwatch/config/test_metatrader4_credentials.py
  tests/stonks_overwatch/services/brokers/metatrader4/utilities/test_parser.py
  tests/stonks_overwatch/services/test_models.py
Due: django-check, tests

doc: Add MetaTrader4 documentation
  README.md
  docs/Bitvavo.md
  docs/DEGIRO.md
  docs/IBKR.md
  docs/MetaTrader4.md
  docs/_Sidebar.md
  docs/images/brokers/metatrader4.png
  docs/images/brokers/metatrader4_small.png
  docs/images/screenshots/broker-selector.png
  docs/images/screenshots/login-metatrader4.png
  docs/images/screenshots/settings-metatrader4.png
  scripts/generate_docs_broker_icons.sh
Due: none

Path conditions:
  poetry-check: any of: \.(toml)$
  django-check: any of: \.(py)$
  tests: any of: \.(py)$
