Repository ctasada/stonks-overwatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, django-check, tests

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: local
    hooks:
      - id: poetry-check
        name: Poetry Check
        entry: poetry check
        language: system
        pass_filenames: false
        files: \.(toml)$
        stages: [pre-commit]  # Only run on commit, not push

  - repo: local
    hooks:
      - id: pymarkdown
        name: Pymarkdown Check
        entry: make markdown-check
        language: system
        stages: [pre-commit]

  - repo: https://github.com/lycheeverse/lychee
    rev: nightly
    hooks:
      - id: lychee
        name: Check Markdown Links
        types: [markdown]
        args:
          - --config=lychee.toml
          - --no-progress
        stages: [pre-commit]

  # Optional: Check Django migrations
  - repo: local
    hooks:
      - id: django-check
        name: Django Check
        entry: poetry run python src/manage.py check
        language: system
        pass_filenames: false
        files: \.(py)$

  # Optional: Run tests on commit
  - repo: local
    hooks:
      - id: tests
        name: Run tests
        entry: poetry run pytest --maxfail=1 -q
        language: system
        pass_filenames: false
        files: \.(py)$
        stages: [pre-commit]  # Only run on commit, not push

chore: Dependency updates
  src/stonks_overwatch/templates/components/head_standalone.html
Due: none

fix: Fixed height bug with distributions
  CHANGELOG.md
  src/stonks_overwatch/staticfiles/style.css
  src/stonks_overwatch/templates/components/distribution_with_list.html
Due: none

fix: Fixed height bug with distributions (#315)
  CHANGELOG.md
  src/stonks_overwatch/staticfiles/style.css
  src/stonks_overwatch/templates/components/distribution_with_list.html
Due: none

chore: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: autoupdate pre-commit hooks (#318)
  .pre-commit-config.yaml
Due: none

fix: Improve authentication state validation and add timezone-aware model initialization
  lychee.toml
  src/stonks_overwatch/middleware/authentication.py
  src/stonks_overwatch/services/aggregators/deposits_aggregator.py
  src/stonks_overwatch/services/brokers/bitvavo/services/deposit_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/portfolio_service.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/utils/core/localization.py
  src/stonks_overwatch/views/broker_login.py
  tests/stonks_overwatch/middleware/test_authentication.py
  tests/stonks_overwatch/views/test_broker_login.py
Due: poetry-check, django-check, tests

refactor: Remove broker-specific method name from interface
  CHANGELOG.md
  docs/ARCHITECTURE_AUTHENTICATION.md
  docs/OPERATIONS_AUTHENTICATION.md
  src/stonks_overwatch/core/interfaces/authentication_service.py
  src/stonks_overwatch/middleware/degiro_auth.py
  src/stonks_overwatch/services/brokers/bitvavo/services/authentication_service.py
  src/stonks_overwatch/services/brokers/degiro/services/authentication_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/authentication_service.py
  tests/stonks_overwatch/core/factories/test_service_interface_validation.py
  tests/stonks_overwatch/middleware/test_degiro_auth_refactored.py
  tests/stonks_overwatch/services/brokers/degiro/test_authentication_service.py
  tests/stonks_overwatch/services/brokers/ibkr/test_authentication_service.py
Due: django-check, tests

refactor: Centralize authentication readiness checks and genericize credential types
  docs/ARCHITECTURE_AUTHENTICATION.md
  docs/OPERATIONS_AUTHENTICATION.md
  docs/PENDING_TASKS.md
  docs/PLUGIN_ARCHITECTURE.md
  src/stonks_overwatch/core/authentication_helper.py
  src/stonks_overwatch/core/interfaces/authentication_service.py
  src/stonks_overwatch/middleware/authentication.py
  src/stonks_overwatch/services/utilities/credential_validator.py
  src/stonks_overwatch/views/broker_login.py
  src/stonks_overwatch/views/login.py
  src/stonks_overwatch/views/root_redirect.py
  tests/stonks_overwatch/middleware/test_authentication.py
  tests/stonks_overwatch/views/test_broker_login.py
Due: django-check, tests

fix: Handle incomplete IBKR API contract data with defensive fallbacks
  CHANGELOG.md
  docs/IBKR.md
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/services/brokers/ibkr/services/update_service.py
Due: django-check, tests

fix: Fixed rendering of some country flags
  CHANGELOG.md
  src/stonks_overwatch/views/asset_logos.py
  tests/stonks_overwatch/views/test_asset_logos.py
Due: django-check, tests

fix: Prevent authenticated users from being redirected to 2FA login screen
  CHANGELOG.md
  src/stonks_overwatch/views/broker_login.py
  src/stonks_overwatch/views/login.py
Due: django-check, tests

Batch of 0.3.0 fixes (#320)
  CHANGELOG.md
  docs/ARCHITECTURE_AUTHENTICATION.md
  docs/IBKR.md
  docs/OPERATIONS_AUTHENTICATION.md
  docs/PENDING_TASKS.md
  docs/PLUGIN_ARCHITECTURE.md
  lychee.toml
  src/stonks_overwatch/core/authentication_helper.py
  src/stonks_overwatch/core/interfaces/authentication_service.py
  src/stonks_overwatch/middleware/authentication.py
  src/stonks_overwatch/middleware/degiro_auth.py
  src/stonks_overwatch/services/aggregators/deposits_aggregator.py
  src/stonks_overwatch/services/brokers/bitvavo/services/authentication_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/deposit_service.py
  src/stonks_overwatch/services/brokers/bitvavo/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/degiro/services/authentication_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/authentication_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/services/brokers/ibkr/services/update_service.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/services/utilities/credential_validator.py
  src/stonks_overwatch/utils/core/localization.py
  src/stonks_overwatch/views/asset_logos.py
  src/stonks_overwatch/views/broker_login.py
  src/stonks_overwatch/views/login.py
  src/stonks_overwatch/views/root_redirect.py
  tests/stonks_overwatch/core/factories/test_service_interface_validation.py
  tests/stonks_overwatch/middleware/test_authentication.py
  tests/stonks_overwatch/middleware/test_degiro_auth_refactored.py
  tests/stonks_overwatch/services/brokers/degiro/test_authentication_service.py
  tests/stonks_overwatch/services/brokers/ibkr/test_authentication_service.py
  tests/stonks_overwatch/views/test_asset_logos.py
  tests/stonks_overwatch/views/test_broker_login.py
Due: poetry-check, django-check, tests

chore: autoupdate pre-commit hooks (#321)
  .pre-commit-config.yaml
Due: none

chore: Dependency updates
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: Dependency updates (#323)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: IBKR portfolio data
  CHANGELOG.md
  docs/IBKR.md
  src/stonks_overwatch/services/brokers/ibkr/client/ibkr_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/services/brokers/ibkr/services/update_service.py
Due: django-check, tests

fix: IBKR portfolio data (#324)
  CHANGELOG.md
  docs/IBKR.md
  src/stonks_overwatch/services/brokers/ibkr/client/ibkr_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/services/brokers/ibkr/services/update_service.py
Due: django-check, tests

fix: Fixed sidebar horizontal separator
  src/stonks_overwatch/staticfiles/style.css
Due: none

feat: Indicator of last update for each broker
  CHANGELOG.md
  src/stonks_overwatch/core/factories/broker_registry.py
  src/stonks_overwatch/core/interfaces/update_service.py
  src/stonks_overwatch/core/models.py
  src/stonks_overwatch/core/registry_setup.py
  src/stonks_overwatch/core/service_types.py
  src/stonks_overwatch/migrations/0010_brokersynclog.py
  src/stonks_overwatch/services/brokers/bitvavo/services/update_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/update_service.py
  src/stonks_overwatch/staticfiles/style.css
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/templatetags/custom_tags.py
  tests/stonks_overwatch/templatetags/test_custom_tags.py
Due: django-check, tests

feat: Indicator of last update for each broker (#325)
  CHANGELOG.md
  src/stonks_overwatch/core/factories/broker_registry.py
  src/stonks_overwatch/core/interfaces/update_service.py
  src/stonks_overwatch/core/models.py
  src/stonks_overwatch/core/registry_setup.py
  src/stonks_overwatch/core/service_types.py
  src/stonks_overwatch/migrations/0010_brokersynclog.py
  src/stonks_overwatch/services/brokers/bitvavo/services/update_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  src/stonks_overwatch/services/brokers/ibkr/services/update_service.py
  src/stonks_overwatch/staticfiles/style.css
  src/stonks_overwatch/templates/base.html
  src/stonks_overwatch/templatetags/custom_tags.py
  tests/stonks_overwatch/templatetags/test_custom_tags.py
Due: django-check, tests

chore: autoupdate pre-commit hooks (#326)
  .pre-commit-config.yaml
Due: none

chore: autoupdate pre-commit hooks (#330)
  .pre-commit-config.yaml
Due: none

chore: Dependency updates
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
Due: poetry-check

chore: Dependency updates (#332)
  THIRD_PARTY_LICENSES.txt
  poetry.lock
  pyproject.toml
  src/package-lock.json
Due: poetry-check

chore: autoupdate pre-commit hooks (#333)
  .pre-commit-config.yaml
Due: none

chore: bump all direct deps to latest in make update
  Makefile
  THIRD_PARTY_LICENSES.txt
  docs/Bitvavo.md
  lychee.toml
  poetry.lock
  pyproject.toml
  scripts/generate_licenses.py
  src/package-lock.json
Due: poetry-check, django-check, tests

chore: bump all direct deps to latest in make update (#334)
  Makefile
  THIRD_PARTY_LICENSES.txt
  docs/Bitvavo.md
  lychee.toml
  poetry.lock
  pyproject.toml
  scripts/generate_licenses.py
  src/package-lock.json
Due: poetry-check, django-check, tests

feat: Add IBKR logo support
  CHANGELOG.md
  src/stonks_overwatch/core/aggregators/data_merger.py
  src/stonks_overwatch/integrations/__init__.py
  src/stonks_overwatch/integrations/logos/__init__.py
  src/stonks_overwatch/integrations/logos/ibkr.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/templates/components/distribution_with_list.html
  src/stonks_overwatch/templates/portfolio/table.html
  src/stonks_overwatch/views/asset_logos.py
  src/stonks_overwatch/views/diversification.py
  tests/stonks_overwatch/integrations/__init__.py
  tests/stonks_overwatch/integrations/logos/__init__.py
  tests/stonks_overwatch/integrations/logos/test_ibkr.py
  tests/stonks_overwatch/views/test_asset_logos.py
  tests/stonks_overwatch/views/test_diversification.py
Due: django-check, tests

feat: Add IBKR logo support (#335)
  CHANGELOG.md
  src/stonks_overwatch/core/aggregators/data_merger.py
  src/stonks_overwatch/integrations/__init__.py
  src/stonks_overwatch/integrations/logos/__init__.py
  src/stonks_overwatch/integrations/logos/ibkr.py
  src/stonks_overwatch/services/brokers/ibkr/services/portfolio.py
  src/stonks_overwatch/services/models.py
  src/stonks_overwatch/templates/components/distribution_with_list.html
  src/stonks_overwatch/templates/portfolio/table.html
  src/stonks_overwatch/views/asset_logos.py
  src/stonks_overwatch/views/diversification.py
  tests/stonks_overwatch/integrations/__init__.py
  tests/stonks_overwatch/integrations/logos/__init__.py
  tests/stonks_overwatch/integrations/logos/test_ibkr.py
  tests/stonks_overwatch/views/test_asset_logos.py
  tests/stonks_overwatch/views/test_diversification.py
Due: django-check, tests

fix: redact credentials in DB dump by default, preserve on load
  CHANGELOG.md
  scripts/dump_db.py
  src/stonks_overwatch/utils/database/db_utils.py
Due: django-check, tests

fix: redact credentials in DB dump by default, preserve on load (#336)
  CHANGELOG.md
  scripts/dump_db.py
  src/stonks_overwatch/utils/database/db_utils.py
Due: django-check, tests

fix: Fixed crash when loading portfolio history, fees, or transactions for products with incomplete data
  CHANGELOG.md
  src/stonks_overwatch/services/brokers/degiro/repositories/product_info_repository.py
  src/stonks_overwatch/services/brokers/degiro/services/account_service.py
  src/stonks_overwatch/services/brokers/degiro/services/fee_service.py
  src/stonks_overwatch/services/brokers/degiro/services/helper.py
  src/stonks_overwatch/services/brokers/degiro/services/portfolio_service.py
  src/stonks_overwatch/services/brokers/degiro/services/transaction_service.py
  src/stonks_overwatch/services/brokers/degiro/services/update_service.py
  tests/stonks_overwatch/services/brokers/degiro/repositories/test_product_info_repository.py
  tests/stonks_overwatch/services/brokers/degiro/test_helper.py
Due: django-check, tests

fix: handle missing quotations for delisted DEGIRO products in currency conversion
  src/stonks_overwatch/services/brokers/degiro/services/currency_service.py
Due: django-check, tests

fix: Dump DB load
  src/stonks_overwatch/services/brokers/models.py
Due: django-check, tests

fix: Dump DB load (#338)
  src/stonks_overwatch/services/brokers/models.py
Due: django-check, tests
